:root {
  --main-bg: #ffffff;
  --alt-bg-1: #404040;
  --alt-bg-2: #808080;

  --main-text: #202020;
  --alt-text-1: #e0e0e0;
  --alt-text-2: #a0a0a0;

  --icon-color-1: #ffff00;
  --icon-color-2: #ffaa00;
  --icon-color-3: #ff5500;
  --icon-color-4: #ff0000;
  --main-font: 'Comfortaa', Verdana, Arial, sans-serif;
  --text-font: Verdana, Arial, sans-serif;
  
  --animate-fast: border-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
  --animate-slow: border-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease, text-shadow 0.5s ease, transform 0.5s ease;
}

body {
  margin: 0;
  color: var(--main-text);
  background: var(--main-bg);
  font-family: var(--main-font);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap:15px;
}
a {
  padding:0;
  margin:0;
  display: inline;
  color: inherit;
  text-decoration: none;
}

button {
  font-family: var(--main-font);
  font-weight: 900;
  border: 2px solid var(--alt-bg-1);
  border-radius: 8px;
  box-shadow: 3px 3px 5px var(--alt-bg-2);
  color: var(--main-text);
  background: var(--main-bg);
  padding: 8px 30px;
  margin: 20px 0px;
}
.center-button {
  display: block;
  margin: 20px auto;
}

.title {
  font-family: var(--main-font);
  font-weight: 900;
  text-align: center;
  color: var(--main-text);
  margin: 50px 0px;
  align-self:center;
  /* Change by using large medium small */
  /* font-size: 10vmin; */
}
.large-font {font-size: 10vmin;}
.medium-font {font-size: 8vmin;}
.small-font {font-size: 5vmin;}

.paragraph {
  line-height: 1.6;
}
.section {

}


.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

img {
  max-width: 100%;
}