
/* HEADER & FOOTER */
/* a.fa { */
  /* font-size: 60px; */
  /* color: red; */
/* } */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  /* background-color: var(--alt-bg-1); */
  color: var(--main-text);
  font-family: var(--main-font);
  position: sticky;
  top: 0;
  z-index: 999;
  background: linear-gradient(#ffffff20,#ffffff00);
  backdrop-filter: blur(20px);
}
.footer {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  background-color: var(--alt-bg-1);
  /* color: var(--alt-text-1); */
  /* font-family: var(--main-font); */
}
.footer-columns {
  width:90%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin: 30px 50px;
  background-color: var(--alt-bg-1);
  color: var(--alt-text-1);
  font-family: var(--main-font);
}
.copyright {
  font-size: 8px;
  margin:12px;
  color: var(--alt-text-2);
}
.footer a {
  display: inline-block;
  padding-top: 10px;
  text-decoration: none;
  font-size: 15px;
}
.footer-left {
  font-size: 24px;
}
.footer-right {
  justify-self: flex-end;
  font-size: 24px;
  /* font-weight: 900; */
}
.header-logo {
  flex: 0 0 50px;
}

.header ul {
  display: flex;
}
.header-left {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 900;
}
.header a {
  display: inline-block;
  text-decoration:none;
  font-size: 18px;
  font-weight: 900;
}
/* HEADER & FOOTER */