@mixin animate {
  transition: border-color 0.3s ease-out, color 0.3s ease-out, box-shadow 0.3s ease-out, text-shadow 0.3s ease-out, transform 0.3s ease-out;
}
@mixin not {
  transition: border-color 0.5s ease-in, color 0.5s ease-in, box-shadow 0.5s ease-in, text-shadow 0.5s ease-in, transform 0.5s ease-in;
}
@mixin push-text
{
  @include animate;
  transform: translate(0.06em,0.06em);
  color: var(--icon-color-3);
  cursor: pointer;
}
@mixin push-button
{
  @include animate;
  // transform: translate(0px,0px);
  // color: var(--icon-color-3);
  // border-color: var(--icon-color-2);
  // box-shadow: 0px 0px 5px var(--icon-color-3);
  color: var(--icon-color-4);
  transform: translate(3px,3px);
  border-color: var(--icon-color-4);
  box-shadow: 0px 0px 0px #ffffff;
  cursor: pointer;
}
@mixin hover-text
{
  @include animate;
  transform: translate(-0.06em,-0.06em);
  color: var(--icon-color-2);
  text-shadow: 0.06em 0.06em 0em var(--icon-color-3),
               0.12em 0.12em 0em var(--icon-color-4);
  // transform: translate(-0.03em,-0.03em);
  // text-shadow: 0.03em 0.03em 0.1em var(--icon-color-3);
}