@use 'css_notice';
@use 'sass:list';
@use 'defs' as *;
@use 'header_footer';
@use 'shop';
@use 'animate';
// Comfortaa Font 
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
// Icons Font 
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
// Color scheme and defaults definitions 

@mixin text-3d-shadow($dis:0.02em,$steps:10)
{
  $step: calc((255*2/3)/($steps + 1));
  translate: (-($steps * $dis)) (-($steps * $dis));
  $text-shadows:();
  @for $i from 1 through $steps {
    $curr-shadow: $i*$dis $i*$dis 0em rgb(255,($steps - $i)*$step,0);
    $text-shadows: list.append($text-shadows,$curr-shadow,comma)
  }
  text-shadow: $text-shadows;
}
// WELCOME IMAGE 
.welcome-section .layer2 {
  // transform: translate(20%,10%) matrix(1,0.2,0,1,1,0);
  translate: 0 -0.1em;
  // transform: rotateY(-30deg) rotateX(-30deg);
}
.welcome-section .studios {
  @include animate.text-3d-shadow(0.01em,10);
  // transform: rotateY(-30deg) rotateX(60deg);
  //text-shadow: 5px 4px 5px var(--icon-color-3);
  // translate: -0.14em 0;
  // color: rgb(255,(6*$step),0);
  // color: transparent;
  // A: + resize_vertical - resize_reverse_vertical
  // B: + down_skew - up_skew
  // C: + left_skew - right_skew
  // D: + resize_horizontal- resize_reverse_horizontal
  //                A B C D E F
  // transform: matrix(1,0.15,-1,1,1,0);
  // animation-duration: infinite;
  // animation: 2s ease-out 0s infinite normal;
  // text-shadow:0px;
}
.welcome-section .studios:hover {
  @include animate.start;
  // transform: translate(-0.06em,-0.06em);
  // transform: translate(0.00em,7*$dis) matrix(1,0.15,-1,1,1,0);
  // color: var(-1con-color-3);
  // text-shadow: none;
  @include animate.text-3d-shadow(0.001em,10);
  // 0.06em 0.06em 0em var(--icon-color-4),
              //  0.12em 0.12em 0em var(--icon-color-3);
  // transform: rotateZ(90);
  // transform: scale(1.2), rotate(180deg);
  // transform: rotate(180deg);
  // transform: matrix(0,1,1,0,1,0);
  // transform: rotate3d(180,0,0);
  
}
.welcome-section .studios:not(:hover) {@include animate.not}
.welcome-section {
  // perspective: 1000px;
  display: flex;
  flex-direction: column;
  background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9) ), url('/assets/img/start-background.jpg');
  background-size: cover;
  height: 100vh; 
  background-repeat: no-repeat;
  background-position:center top;
  text-shadow: 2px 2px 2px black;
  position:0 relative;
  z-index: 1;
  margin-top: -80px;
  padding-top: 80px;

  font-size: 20vmin;
  color: var(--alt-text-1);
  justify-content: center;
  align-items: center;
}
// WELCOME IMAGE 

// INSPIRING QUOTE 
//.inspiring-quote {
  // padding: 80px 80px 0 80px;
  // background: var(--main-bg);
// }
// .inspiring-quote-box {
  // display: flex;
  // flex-direction: column;
  // background: var(--main-bg);
  // align-content: center;
  // max-width: 1000px;
  // margin: 0 auto;
// }
// .inspiring-quote-text {
  // color: var(--main-text);
  // text-align: center;
// }
// .inspiring-quote-attribution {
  // font-size: 20px;
  // font-family: var(--main-font);
  // color: var(--main-text);
  // font-weight: 900;
  // margin-top: 20px;
  // align-self: flex-end;
// }
// INSPIRING QUOTE 

// CALL TO ACTION 
.contact-us-card {
  @include card;
  padding: 50px 60px;
  max-width: 600px;
}