:root {
  --main-bg: #ffffff;
  --alt-bg-1: #404040;
  --alt-bg-2: #808080;

  --main-text: #202020;
  --alt-text-1: #e0e0e0;
  --alt-text-2: #a0a0a0;

  --icon-color-1: #ffff00;
  --icon-color-2: #ffaa00;
  --icon-color-3: #ff5500;
  --icon-color-4: #ff0000;
  --main-font: 'Comfortaa', Verdana, Arial, sans-serif;
  --text-font: Verdana, Arial, sans-serif;
  
  --animate-fast: border-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
  --animate-slow: border-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease, text-shadow 0.5s ease, transform 0.5s ease;
}

body {
  /* height: 100vh; */
  /* width:100vw; */
  margin: 0;
  font-family: var(--main-font);
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  background: var(--main-bg);
  line-height: 1.6;
}
.center-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  /* margin: 0px auto; */
}

.title {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 10vmin;
  text-align: center;
  /* text-shadow: 3px 3px 5px var(--icon-color-1); */
  color: var(--main-text);
  margin: 50px 50px 50px 50px;
  align-self:center;
}
button {
  font-family: var(--main-font);
  font-weight: 900;
  border: 2px solid var(--icon-color-2);
  border-radius: 8px;
  color: var(--main-text);
  background: var(--icon-color-2);
  padding: 8px 30px;
  box-shadow: 3px 3px 5px var(--icon-color-3);
  background: var(--main-bg);
  border: 2px solid var(--alt-bg-1);
  box-shadow: 3px 3px 5px var(--alt-bg-2);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap:15px;
}


a {
  padding:0;
  margin:0;
  display: inline;
  color: inherit;
  /* color: var(--icon-color-3); */
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

img {
  max-width: 100%;
}